* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
    display: block;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* GRID */
.container{
    max-width:120rem;
    margin:0 auto;
    padding:1.5rem;
    width:100%;
}
.header.shadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* HEADER */
.header{
    background:#2b2b2b;
    position:relative;
    z-index:999;
    position:fixed;
    width:100%;
}
.header .branding{
    display:flex;
    align-items:center;
    gap:2rem;
}
.header h3 span{
    color:var(--primary);
}
.header .branding h3{
    color:#ffffff;
    font-size:2.5rem;
    font-weigth:600;
}
.header .header__nav ul li a{
    color:#ffffff;
    font-size:2rem;
}
.header .header__nav ul li:hover a{
    color:var(--primary);
}
.header .header__nav ul li:hover{
    scale:1.1;
    transition:.5 ease;
}
.header .header__nav ul{
    display:flex;
    align-items:center;
    gap:2.5rem;
}
.header .header__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.header.open {
    background: transparent;
    transition: 0.5s ease;
  }
  .header .container {
    margin-top: 0;
    transition: 0.5s ease;
  }
  .header.open .container {
    background: #2b2b2b;
    border-radius: 5rem;
    margin-top: 10rem;
    transition: 0.5s ease;
  }

.burgir__menu span{
    width:3rem;
    height:.3rem;
    background-color:var(--light);
    display:block;
    border-radius:5rem;
    transition:.5s ease;
}
.burgir__menu span:nth-child(2){
    margin:.5rem 0;
}
.burgir__menu{
    display:none;
}
.burgir__menu.open span:first-child{
    transform:translate(0,10px) rotate(225deg);
    transition:.5s ease;
}
.burgir__menu.open span:last-child{
    transform:translate(0,-6px) rotate(-45deg);
    transition:.5s ease;
}
.burgir__menu.open span:nth-child(2){
    opacity:0;
    transition:.5s ease;
}
@media screen and (max-width:486px){
    .burgir__menu{
        display:block;
    }
    .header__nav{
        background:gray;
        position:absolute;
        top:10.3rem;
        right:-100rem;
        width:100%;
        height:100vh;
        transition:.5 ease;
    }
    .header__nav.open{
        right:0;
        transition:.5s ease;
    }
    .header__nav ul{
        display:flex;
        flex-direction:column;
        transform:translateY(10rem);
    }
    .header .header__nav ul li a{
        font-size:3.5rem;
    }
}


/* banner */
/* .container .banner__wrapper{
    display:flex;
    align-items:
}
.banner__text h1{
    color:#ffa700;
    font-size:7rem;
    font-weight:800;
    line-height:1;
    margin-top:10rem;
}
.banner__text p {
    font-size:16;
    font-weigth:500;
    max-width:300px;
    margin-top:3rem;
}
.banner__text a{
    
} */
.banner{
    padding:5rem 0;
    background:#ffffff;
  }
  .banner .banner__text{
    max-width:35rem;
    text-align:justify;
  }
  .banner .banner__text h1{
    font-size:8rem;
    color:#ffa700;
    font-weight:800;
    line-height:1;
  }
  .banner .banner__text p{
    margin:5rem 0;
  }
  .banner .banner__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .banner img{
    padding-top:7rem;
  }

@media screen and (max-width:486px){
    .banner .banner__wrapper{
        display:flex;
        flex-direction:column-reverse
    }
    .banner img{
        width:25rem;
    }
    .banner .banner__text h1{
        font-size:3rem;

    }
    .banner .banner__text {
        max-width:fit-content;
        text-align:center;
    }
}

/* SRVC */
.srvc{
    background:var(--dark);
    padding:5rem 0;
}

.srvc__wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:5rem;
    text-align:center;
}
.srvc__item i{
    font-size:5rem;
    color:var(--primary);
}
.srvc__item h4{
    font-wieght:600;
    color:var(--primary);
    margin:2rem 0;
}
.srvc__item p{
    text-align:justify;
    margin-bottom:3rem;
    color:var(--light)
}

@media screen and (max-width:486px){
    .srvc .srvc__wrapper{
        display:flex;
        flex-direction:column-reverse;
    }
    .srvc img{
        width:25rem;
    }
    .srvc .srvc__item h4{
        font-size:2.5rem;

    }
    .srvc .srvc__item i{
        max-width:fit-content;
        text-align:center;

    }
    .srvc .srvc__item p{
        margin:2rem;
    }
}

  /* REPEATABLE PATTERNS */
:root{
    --dark:#2b2b2b;
    --light:#ffffff;
    --primary:#ffa700;
    
}
.btn{
    display:inline-block;
    padding:1rem 1.5rem;
    border-radius:5rem;
    border:1px solid transparent;
    text-align:center;
    transition:.5s ease;
}
.btn.bg--primary{
    background:var(--primary);
    color:#ffffff;
}
.btn.bg--light{
    background:var(--light);
    color:var(--dark);
    border:1px solid var(--dark);
}
.btn.bg--primary:hover{
    background:#2b2b2b;
    border:1px solid #ffffff;
    scale:1.1;
    transition:.5s ease;
}
/* ABT */
.abt{
    padding:5rem 0;
    background:var(--light);
  }
  .abt__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .abt__text{
    max-width:60rem;
  }
  .abt__text h4{
    color:var(--primary);
    font-weight:600;
    font-size:3rem;
  }
  .abt__text p{
    margin:2rem 0;
    text-align:justify;
  }

  @media screen and (max-width:486px){
    .abt .abt__wrapper{
        display:flex;
        flex-direction:column;
    }
    .abt img{
        width:35rem;
    }
    .abt .abt__text h4{
        font-size:3rem;
        text-align:center;
    }
    .abt .abt__text p{
        text-align:justify;
        margin:2rem;
    }
}

/* trends */
.trends{
    padding:5rem 0;
    background:var(--dark);
}
.trends__title h2{
    font-size:4rem;
    color:var(--primary);
    font-weight:600rem;
}
.trends__title p{
    color:var(--light);
}
.trends__title{
    margin-bottom:6rem;
}
.trends__card{
    background:var(--light);
    border-radius:2rem;
    transition:.5 ease;
}
.trends__wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:5rem;
}
.trends__text{
    padding:1rem;
}
.trends__text p{
    margin:2rem 0;
}
.trends__text h4{
    color:var(--primary);
    font-weight:600;;
}
.trends__text a {
    color:var(--primary);
}
.trends__text a:hover{
    color:var(--dark);
}
.trends__card:hover{
    scale:1.1;
    transition:.5 ease;
}

@media screen and (max-width:486px){
    .trends .trends__wrapper{
        display:flex;
        flex-direction:column-reverse
    }
    .trends img{
        width:60rem;

    }
    .trends .trends__text h4{
        font-size:3rem;
        text-align:center;

    }
    .trends .trends__text p{
        font-size:1.8rem;
        text-align:center;

    }
    .trends .trends__text a {
        font-size:2.3rem;
        text-align:center;
    }
}

/* cnt */
.cnt{
    background:var(--primary);
    padding:5rem 0;
    font-weight:600;
}
.cnt__wrapper{
    text-align:center;
}
.cnt h2{
    font-size:4rem;
    font-weight:600;
}
.cnt p{
    margin-bottom:3rem;
}
.btn.bg--dark{
    background:var(--dark);
    color:#ffffff;
}
.btn.bg--dark:hover{
    background:transparent;
    border:1px solid var(--dark);
    color:var(--dark);
    scale:1.1;
    transition:;5s ease
}

@media screen and (max-width:486px){
    .banner .banner__wrapper{
        display:flex;
        flex-direction:column-reverse
    }
    .banner img{
        width:25rem;
    }
    .banner .banner__text h1{
        font-size:3rem;

    }
    .banner .banner__text {
        max-width:fit-content;
        text-align:center;
    }
}

/* footer */
.footer{
    background:var(--dark);
    padding:2rem 0;
}
.footer__wrapper{
    color:gray;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.footer__social a{
    color:gray;
    padding:0 .5rem;
}
.footer__social{
    display:flex;
    align-items:center;
}
.footer__social ul{
    display:flex;
    align-items:center;
}
    .bn.bg--fb:hover {
    color:blue;
    scale:1.1;
    transition:0.5s ease;
}
.bn.bg--ftwitter:hover{
    color:skyblue;
    scale:1.1;
    transition:0.5s ease;
}
.bn.bg--ig:hover{
    color:red;
    scale:1.1;
    transition:0.5s ease;
}
.bn.bg--yt:hover{
    color:red;
    scale:1.1;
    transition:0.5s ease;
}
.bn.bg--email:hover{
    color:brown;
    scale:1.1;
    transition:0.5s ease;
}

@media screen and (max-width:486px){
    .footer__wrapper{
        display:flex;
        flex-direction:column;
    }
    .footer__social{
        display:flex;
        flex-direction:column;
    }
}


/* new.sheesh */





* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
    display: block;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* GRID */
.container{
    max-width:120rem;
    margin:0 auto;
    padding:1.5rem;
    width:100%;
}
/* HEADER */
.header{
    background:#2b2b2b;
    position:relative;
    z-index:999;
    position:fixed;
    width:100%;
}
.header .branding{
    display:flex;
    align-items:center;
    gap:2rem;
}
.header h3 span{
    color:var(--primary);
}
.header .branding h3{
    color:#ffffff;
    font-size:2.5rem;
    font-weigth:600;
}
.header .header__nav ul li a{
    color:#ffffff;
    font-size:2rem;
}
.header .header__nav ul li:hover a{
    color:blue;
}
.header .header__nav ul li:hover{
    scale:1.1;
    transition:.5 ease;
}
.header .header__nav ul{
    display:flex;
    align-items:center;
    gap:2.5rem;
}
.header .header__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.burgir__menu span{
    width:3rem;
    height:.3rem;
    background-color:var(--light);
    display:block;
    border-radius:5rem;
    transition:.5s ease;
}
.burgir__menu span:nth-child(2){
    margin:.5rem 0;
}
.burgir__menu{
    display:none;
}
.burgir__menu.open span:first-child{
    transform:translate(0,10px) rotate(225deg);
    transition:.5s ease;
}
.burgir__menu.open span:last-child{
    transform:translate(0,-6px) rotate(-45deg);
    transition:.5s ease;
}
.burgir__menu.open span:nth-child(2){
    opacity:0;
    transition:.5s ease;
}
@media screen and (max-width:486px){
    .burgir__menu{
        display:block;
    }
    .header__nav{
        background:gray;
        position:absolute;
        top:10.3rem;
        right:-100rem;
        width:100%;
        height:100vh;
        transition:.5 ease;
    }
    .header__nav.open{
        right:0;
        transition:.5s ease;
    }
    .header__nav ul{
        display:flex;
        flex-direction:column;
        transform:translateY(10rem);
    }
    .header .header__nav ul li a{
        font-size:3.5rem;
    }
}

.sheesh{
    padding:5rem 0;
    background:#ffffff;
  }
  .sheesh .sheesh__text{
    max-width:45rem;
  }
  .sheesh .sheesh__text h1{
    font-size:6rem;
    color:#ffa700;
    font-weight:800;
    line-height:1;
    margin-top:8rem;
  }
  .sheesh .sheesh__text h5 span{
    color:var(--primary);
    font-size:2.5rem;
    font-weight:600;
  }
  .sheesh .sheesh__text h6{
    font-size:1rem;
  }
  .sheesh .sheesh__text p{
    margin:1.5rem 0;
    text-align:justify;
  }
  .sheesh .sheesh__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }

@media screen and (max-width:486px){
    .sheesh .sheesh__wrapper{
        display:flex;
        flex-direction:column-reverse;
    }
    .sheesh img{
        width:25rem;
        margin-top:5rem
    }
    .sheesh .sheesh__text h1{
        font-size:3rem;

    }
    .sheesh .sheesh__text p {
        max-width:fit-content;
        text-align:center;
        text-align:justify;
        margin:2rem;
    }
    .sheesh .sheesh__text {
        max-width:fit-content;
        text-align:center;
        margin:2rem;
    }
}

/* service */
.omsim{
    padding:5rem 0;
    background:var(--dark);
  }
  .omsim__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .omsim__text{
    max-width:60rem;
    color:var(--light);
  }
  .omsim__text h4{
    color:var(--primary);
    font-weight:800;
    font-size:7rem;
  }
  .omsim .omsim__text h5 span{
color:var(--primary);
font-size:2.5rem;
font-weight:600;
  }

  .omsim .omsim__text h6{
    font-size:1rem;
  }

  .omsim__text p{
    margin:2rem 0;
    text-align:justify;
  }

  @media screen and (max-width:486px){
    .omsim .omsim__wrapper{
        display:flex;
        flex-direction:column;
    }
    .omsim img{
        width:35rem;
    }
    .omsim__text h4{
        font-size:3rem;
        text-align:center;
    }
    .omsim .omsim__text {
        text-align:justify;
        margin:2rem;
        text-align:center;
        max-width:fit-content;
    }
}


.umay{
    padding:5rem 0;
    background:#ffffff;
  }
  .umay .umay__text{
    max-width:35rem;
  }
  .umay .umay__text h1{
    font-size:8rem;
    color:#ffa700;
    font-weight:800;
    line-height:1;
  }

  .umay .umay__text h5 span{
    color:var(--primary);
    font-size:2.5rem;
    font-weight:600;
      }

      .umay .umay__text h6{
        font-size:1rem;
      }

  .umay .umay__text p{
    margin:2rem 0;
    text-align:justify;
  }
  .umay .umay__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }

@media screen and (max-width:486px){
    .umay .umay__wrapper{
        display:flex;
        flex-direction:column-reverse
    }
    .umay img{
        width:25rem;
    }
    .umay .umay__text h1{
        font-size:3rem;

    }
    .umay .umay__text p{
        margin:2rem;
        text-align:center;
        max-width:fit-content;
    }

    .umay .umay__text{
        text-align:justify;
        margin:2rem;
        text-align:center;
        max-width:fit-content;
    }
}

/* cnt */ 

.cnt{
    background:var(--primary);
    padding:5rem 0;
    font-weight:600;
}
.cnt__wrapper{
    text-align:center;
}
.cnt h2{
    font-size:4rem;
    font-weight:600;
}
.cnt p{
    margin-bottom:3rem;
}
.btn.bg--dark{
    background:var(--dark);
    color:#ffffff;
}
.btn.bg--dark:hover{
    background:transparent;
    border:1px solid var(--dark);
    color:var(--dark);
    scale:1.1;
    transition:;5s ease
}

@media screen and (max-width:486px){
    .banner .banner__wrapper{
        display:flex;
        flex-direction:column-reverse
    }
    .banner img{
        width:25rem;
    }
    .banner .banner__text h1{
        font-size:3rem;

    }
    .banner .banner__text {
        max-width:fit-content;
        text-align:center;
    }
}



/* tungkol */
.neck{
    padding:5rem 1rem;
    background:#ffffff;
  }
  .abtm2{
    max-width:45rem;
  }
  .abtm2 h1{
    font-size:5.8rem;
    color:var(--primary);
    font-weight:800;
    line-height:1;
  }
  .abtm2 p{
    margin:5rem 0;
    text-align:justify;
  }
  .neck{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .neck ul li a{
    color:var(--primary);
    font-size:2rem;
    flex-direction:column;
  }
  .neck ul{
    display:flex;
    justify-content:flex-start;
    align-items:left;
  }
  @media screen and (max-width:486px){
    .neck{
      display:flex;
      flex-direction:column-reverse;
    }
    .neck img{
      width:35rem;
    }
    .abtm2 h1{
      font-size:4rem;
      padding:2rem 0;
      margin-top:2.5rem;
    }
    .abtm2 p{
      font-size:1.4rem;
      margin:2rem;
      text-align:justify;
    }
    .abtm2{
      max-width:fit-content;
      text-align:center;
    }
    .neck ul{
      display:flex;
      justify-content:center;
      align-items:center;
    }
  }


  /* santo */


  /* projects */

.koya{
    padding:5rem 0;
    background:var(--dark);
  }
  .koya__title h2{
    font-size:4rem;
    color:var(--primary);
    font-weight:600;
  }
  .koya__title p{
    color:var(--light);
  }
  .koya__title{
    margin-bottom:6rem;
  }
  .koya__card{
    background:var(--light);
    border-radius:2rem;
    transition:.5s ease;
  }
  .koya__wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:5rem;
  }
  .koya__text{
    padding:1.5rem;
  }
  .koya__text p{
    margin:2rem 0;
  }
.koya__text h4{
    color:var(--primary);
    font-weight:700;
  }
  .koya__text a{
    color:var(--primary);
  }
  .koya__text a:hover{
    color:var(--dark);
  }
  .koya__card:hover{
    scale:1.1;
    transition:.5s ease;
  }
  @media screen and (max-width:486px){
    .koya{
      padding:3rem 2rem;
      
    }
    .koya__title{
      text-align:center;
    }
    .koya__wrapper{
      display:flex;
      flex-direction:column;
    }
    .koya__text{
      text-align:center;
    }
    .koya__card{
      border-radius:3rem;
    }
    .koya img{
      width:50rem;
    }
  }


  .bm{
    display:inline-block;
    padding:0 .5rem;
    border:1px solid transparent;
    text-align:center;
    transition:.5s ease;
  }
  .bm.bg--fb:hover{
    color:#0000FF;
    scale:1;
    transition:.5s ease;
  }
  .bm.bg--twt:hover{
    color:#1DA1F2;
    scale:1;
    transition:.5s ease;
  }
  .bm.bg--ig:hover{
    color:#e1306c;
    scale:1;
    transition:.5s ease;
  }
  .bm.bg--yt:hover{
    color:#FF0000;
    scale:1;
    transition:.5s ease;
  }

  /* update */
  .updts {
    background: var(--light);
    padding-top: 13rem;
    padding-bottom: 5rem;
    margin-bottom:5rem;
  }
  .updts .updts__title h1 {
    color: var(--primary);
    font-size: 5rem;
    font-weight: 800;
  }
  .updts__title p {
    margin-bottom: 8rem;
    font-size:2rem;
  }
  .updts__author ul li {
    display: inline-block;
    padding: 0 1.5rem;
    width: -15rem;
    align-items: center;
  }
  .updts__left h2 {
    color: var(--primary);
    font-size: 2.5rem;
    font-width: 900;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-weight: bold;
  }
  .updts__left__item h2 {
    color: var(--primary);
    font-size: 2.5rem;
    font-width: 900;
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-weight: bold;
  }
  .updts__left__item p {
    margin-bottom: 3rem;
    font-size: 2rem;

  }
  .updts__left p {
    margin-bottom: 3rem;
    font-size: 1.5rem;

  }
.updts__wag{
  border-bottom:1px solid var(--dark);
  margin-bottom:4rem;
}
  .updts__left__item a {
    color: var(--primary);
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .updts__left a {
    color: var(--primary);
    font-size: 1.5rem;
  }
  .updts__left__item img {
    margin-top: 4rem;

  }
  .updts__wrapper {
    display: grid;
  }
  .updts__left__item {
    display: column;
    display-template-column: 2.5fr 1.5fr;
    
    max-width: 80rem;
  }
  .updts__left {
    display: column;
    display-template-column: 2.5fr 1.5fr;

    max-width: 80rem;
    border-bottom:1px solid var(--dark);
  }
  .updts__wrapper {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    grid-gap:5rem;
  }
  .updts__button ul li{
    display:flex;
  }

.updts .updts__right h2{
    color:var(--primary);
    font-size: 2.5rem;
    margin-bottom:4.1rem;
    font-weight:700;
    

}
.updts table{
    width:100%;
    
}
.updts table tr{
    height:4rem;
}
.updts__right__barabida{
    margin-top:14.5rem;
}
.updts__right.mismo{
    display:flex;
    margin-top:4.5rem;
}
.updts__text h4{
    padding-left:2rem;
    align-text:justify;
}
.updts__tags{
    margin-top:8.5rem;
    color:var(--primary);
    font-weight:600;
    margin-bottom:4rem;
    font-size: 2.2rem;
}
.btn{
    display:inline-block;
    padding:1rem 1.5rem;
    border-radius:5rem;
    border:1px solid transparent;
    text-align:center;
    transition:.5s ease;
}
.btn.bg--light:hover{
    background:var(--dark);
    border:1px solid var(--light);
    color:var(--light);
    scale:1.1;
    transition:.5s ease;
}
.button{
    padding-right:5rem;
    margin:.8rem;
}
@media screen and (max-width:486px){
  .updts{
    padding:3rem 2rem;
  }
  .updts__title{
    text-align:center;
    margin-top:5rem;
  }
  .updts__wrapper{
    display:flex;
    flex-direction:column;
  }
  .updts__text{
    text-align:center;
  }
  .updts__wag{
    border-radius:3rem;
  }
  .updts img{
    width:50rem;
  }
  .updts__wag ul li{
    font-size:1.1rem;
  }
  .updts__author ul li{
    font-size:1.1rem;
  }
  .updts__wag{
    border-bottom:1px solid var(--dark);
    margin-bottom:1rem;
}
}


/* contact */
.cntc {
  background: var(--dark);
  padding-top: 13rem;
  padding-bottom: 20rem;
  border-bottom:2px solid var(--light);
}
.cntc__wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 5rem;
}
.cntc__title h1 {
  color: var(--primary);
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 5rem;
}
.cntc__left p {
  color: var(--light);
  margin-bottom: 10rem;
  max-width: 100%;
}
.cntc__left ul li {
  display: flex;
  gap: 4rem;
  margin: 2rem;
  margin-left: 1rem;
  margin-bottom: 6rem;
}
.cntc__info li h6 {
  color: var(--light);
  margin-left: 3rem;
}
.cntc__info i {
  color: var(--primary);
}
.cntc__left .cntc__icn {
  display: flex;
  gap: 1rem;
  font-size: 2.5rem;
}
.cntc__left .cntc__icn li a {
  color: var(--light);
}
.cntc__right .inpt {
  padding: 2.5rem 25rem 1rem;
  margin-top: -5rem;
}
.cntc__right .inpt textarea:first-child {
  padding: 2.5rem 23rem 1rem 2rem;
  margin: 1rem;
}
.cntc__right .inpt textarea:nth-child(2) {
  padding: 2.5rem 23rem 1rem 2rem;
  margin: 1rem;
}
.cntc__right .inpt textarea:last-child {
  padding: 2.5rem 23rem 3rem 2rem;
  margin: 1rem;
}
.cntc__right .cntc__bttn {
  text-align: right;
  margin-right: 26rem;
}
.cntc{
  padding:27rem;
}

@media screen and (max-width: 486px){
  .cntc{
    padding:3rem 2rem;
  }
  .cntc__title{
    text-align:center;
    margin-top:15rem;
  }
  .cntc__wrapper{
    display:flex;
    flex-direction:column;
  }
  .cntc__text{
    text-align:center;
  }
  .cntc img{
    width:50rem;
  }
  .cntc__wag ul li{
    font-size:1.1rem;
  }
  .cntc__author ul li{
    font-size:1.1rem;
  }
  .cntc__wag{
    border-bottom:1px solid var(--dark);
    margin-bottom:1rem;
}
.cntc__right .inpt textarea:first-child {
  padding: 2.5rem 15rem 1rem 1rem;
  margin: 1rem;
}
.cntc__right .inpt textarea:nth-child(2) {
  padding: 2.5rem 15rem 1rem 1rem;
  margin: 1rem;
}
.cntc__right .inpt textarea:last-child {
  padding: 2.5rem 15rem 3rem 1rem;
  margin: 1rem;
}
.cntc__right .cntc__bttn {
  text-align: right;
  margin-right: 26rem;
}
  .inpt{
    margin-left:-25rem;
  }
  .cntc__bttn{
    margin-left:15rem;
  }
  .cntc__icn{
    margin-left:1rem;
  }
  .cntc__icn ul li{
    gap:10rem;
  }
}